

body {
	font-family: sans-serif;
	 padding-left: 175px;
    padding-right: 175px;
}
nav{
	
}
header {
	margin: 25px;
}

#login{
	color: white;
	padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 200px;
    border-style: outset;
    background-image: url(wallhaven-376646.jpg);
        background-position-x: -108px;
    background-position-y: -278px;
    height: height;
        border-color: black;
    
}

.assignHomework{
	height:200px;
	
}

.navbar-default {
    font-size: x-large;
    font-family: monospace;
    background-image: url(wallhaven-376646.jpg);
    border-color: black;
    font-variant: small-caps;
    border-style: groove;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: xx-large;
    font-style: normal;
    font-family: monospace;
    font-variant: small-caps;
}

.h2, h2 {
    font-style: normal;
    font-variant: small-caps;
    font-family: monospace;
    font-size: 30px;
        color: white;
    
}

.h1, h1 {
    font-style: normal;
    font-variant: small-caps;
    font-family: monospace;
    font-size: 30px;
    color: white;
}

.h3, h3 {
    font-style: normal;
    font-variant: small-caps;
    font-family: monospace;
    font-size: 30px;
        color: white;
    
}



#Account{
	color: white;
	padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 200px;
    border-style: outset;
    background-image: url(wallhaven-376646.jpg);
        background-position-x: -108px;
    background-position-y: -278px;
    height: 550px;
        border-color: black;
}

#user-dashboard{
	color: white;
	padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 200px;
    border-style: outset;
    background-image: url(wallhaven-376646.jpg);
        background-position-x: -108px;
    background-position-y: -278px;
    height: 550px;
        border-color: black;
}
#AccountOne{
	
}


input {
    width: 279px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

tml, body { height: 100%; }
body {
	    background-image: url(wallhaven-472353.jpg);
	
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
    margin-right: -250px;
}

a {
	    display: block;
	
    color: white;
    text-decoration: none;
}
label {
    color: white;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

* {
    color: white;
    box-sizing: border-box;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
input[type=checkbox], input[type=radio] {
    margin-right: -250px;
    line-height: normal;
}
}



