.savings-account {
    background-color: #d6f5d6 !important;        
}

.checking-account {
    background-color: #d6f5d6 !important;
}

.loans {
    background-color: #d6f5d6 !important;
}

.account-image {
    margin: auto;
}

#hm > img{
	width: 300px;
	height: 10px;
}