/* html {
  font: 96px Courier;
}

<<<<<<< HEAD
.box {
	width: 90px;
	text-align: center;
}

.even {
	background-color: #ff0080;
	display: block;

}


.layer {
	display: inline;
} */



 html {
font: 96px Courier;
}
.box{

display:inline;
text-align: center;
}

.even{
background-color: #66ccff;

}

.odd{
background-color: #ff0080;
}

.layer{
display: inline;
}
 

/* 
 html {
  font: 96px Courier;
}

.box {
	
	
	width: 90px;
	text-align: center;
}

.even {
	background-color: #ff0080;

}

.odd {
	background-color: #66ccff;
	
}

#box_1 {

	position: relative;
	left: 90px;
}

#box_2 {

	position: relative;
	left: 180px;
}

#box_3 {

	position: relative;
	left: 270px;
}

#box_4 {

	position: relative;
	left: 360px;
}

#box_5 {

	position: relative;
	left: 360px;
}

#box_6 {

	position: relative;
	left: 270px;
}

#box_7 {

	position: relative;
	left: 180px;
}

#box_8 {

	position: relative;
	left: 100px;
}


.layer {

} 

 */


/*  html {
  font: 96px Courier;
}

.box {
	width: 100px;
	text-align: center;
	display: table-cell;
	
}

.even {
	background-color: #ff0080;

}

.odd {
	background-color: #66ccff;

}

.layer {
	display: flex;
	justify-content: center;
} */





=======
 .box {
	background-color: green;
	display: block;
}

.even {
	background-color: red;
	display: block;
}

.layer { 
	display: inline;
}
>>>>>>> 743428874bf75c20cd313f32e4fd6b7a75761a73
