body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

#image {
	width: 250px;
	
}
#view{
	
}
#body1 {
	display: inline-block;
	margin: 60px;

}

#tableImage{
	width: 150px;
	height: 100px;
}

table {
	display: inline-block;
	border-spacing: 0px;
}

.even {
	background-color: #cccccc;
}

#body2{
	text-align: left;
	display: flex;
	box-shadow: 0px 0px 1px #4c4c4c;
}

#im{
	margin: 10px;
	width: 200px;
}

#des{
	margin-left: 50px;
    margin-bottom: 60px;
    margin-top: 20px;
    
}



#seller{
	font-style: italic;
    color: red;
}

#body3 {
	display: flex;
    text-align: left;
}

