#topHeader {
	width: 100%;
    background: #333333;
   margin: 10px;
    color: white;
    font-family: serif;
}

#menu {
	width: 100%;
	background: #c5c4c6;
	margin: 10px;
	color: green;
	font-family: serif;
}

#body1 {
	width: 100%;

	background: #9fffb8;
	color: black;
	font-family: serif;
	margin: 10px;
	
}

#body2 {
	width: 100%;
	background: #9fffb8;
	color: black;
	font-family: serif;
	margin: 10px;
	
}

#body3 {
width: 100%;
	background: #9fffb8;
	color: black;
	font-family: serif;
	margin: 10px;
	
}

img {
	background-color: white;
}