#topHeader {
	width: 100%;
    background: #333333;
    height: inherit ;
    color: white;
    font-family: serif;
    padding-top: 10px;
    
}

#menu  {
	width: 100%;
	background: #c5c4c6;
	height: inherit;
	color: green;
	font-family: serif;
	padding-left: 10px;
	padding-top: 12px;
}

h4{
 	display: inline;
    padding-right: 15px;
}

#body {
	display: inline;
	width: inherit;
	height: inherit;
	color: black;
	font-family: serif;
	background-color: white;	
}

#des {
	background: #b8ffcc;
}


#main {
	display: flex;
	padding: 25px;
	
}

img {
	background-color: white;
}

#top {
	margin: 0px;
}

#body1 {
	margin: 0px 10px;
	padding: 10px;
	
}

#body2 {
	margin: 0px 10px;
	padding: 10px;
}

#body3 {
	margin: 0px 10px;
	padding: 10px;
}

#footer {
	width: 100%;
    background: #c5c4c6;
    height:35px;
    color: black;
    font-family: serif;
    padding-left: 5px;
    padding-bottom: 5px;
  	padding-top: 5px;
}