body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

img {
	width: 300px;
	height: 200px;
	margin-right: 50px;
}

#body {
	display: flex;
	text-align: left;
}

#body2 {
	text-align: left;
	box-shadow: 0px 2px grey;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

#body3 {
	text-align: left;
padding-bottom: 15px;
}

section {
	clear: both;
	text-align: center;
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}