body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

img {
	
	width: 300px;

}

#body {
	display: inline-block;
}

section {
	clear: both;
	text-align: center;
    clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

#r {
	height: 25px;
	width: 50px;
	position: relative;
	top: 60px;
	left: 10px;
}

#ing {
	position: relative;
	top: 35px;
	left: 200px;
}
section {
clear: both;
display: block;
margin: 20px auto;
vertical-align: top;
min-height: 450px;
background-color: #FFF;
border-radius: 7px;
}

h1{
text-align: center;
}

.pic{
height: auto;
width: 160px;
padding-right: 30px;
}

#name{
font-weight: bold;
float: left;
}

.tile{
display: inline-block;
padding-left: 80px;
padding-right: 80px;
text-align: center;
}

.wrapper{
width: 1200px;
}

.bs{
display: inline-block;
font-size: 12px;
color: red;
}

.pname{
display:inline-block;
}

.even {
background-color: #a3abb7;
width: 2000px;
}

table{
text-align: center;
width: 100%;
}

#title{
width: 2000px;
text-align: left;
}

img{
	height: 80px;
	width: 120px;
}

#desc{
max-width: 800px;
}